.todo-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
} 

.title-text {
    color: #000000;
    font-family: "Roboto";
} 

.btn {
    color: #ff0b37;
    background-color: white;
    border-color: 1px #ff0b37;

}